<ion-header no-border>
  <ion-toolbar color="tax">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize"> registros </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentAlertConfirm()" disabled="{{boton}}">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment scrollable (ionChange)="segmentChanged($event)" value="ingresos" color="medium">
    <ion-segment-button value="ingresos">
      <ion-label>Ganancias</ion-label>
    </ion-segment-button>
    <ion-segment-button value="egresos">
      <ion-label>Gastos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>

  <ion-slide *ngIf="data.length === 0">
    <ion-text color="medium">
      <ion-icon name="car-outline" style="font-size: 80px;"></ion-icon>
      <h3>No hay registros <br> ¡Comience a rodar!</h3>
    </ion-text>
  </ion-slide>

  <ion-list *ngIf="data.length != 0">
    <ion-item *ngFor="let item of data | filtro: tipo: 'tipo'">
      <ion-icon slot="start" name="{{item.icon}}"></ion-icon>
      <ion-label>$ {{item.money}}</ion-label>
      <ion-label class="ion-text-right">{{item.tiempo}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-padding ion-no-border">
  <ion-toolbar>
    <h3 class="ion-text-center">Ganancia neta: <ion-label color="{{color}}">$ {{neta}}</ion-label></h3>
  </ion-toolbar>
</ion-footer>
