<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slide *ngIf="data === null">
    <ion-text color="medium">
      <ion-icon name="analytics" style="font-size: 80px;"></ion-icon>
      <h3>No hay datos</h3>
    </ion-text>
  </ion-slide>

  <ion-item *ngFor="let i of esta">
    <ion-label>{{i.titulo}}</ion-label>
    <ion-label slot="end" class="ion-text-right">{{i.data}}</ion-label>
  </ion-item>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="cerrarModal()" expand="block" shape="round" color="medium">
      Regresar
    </ion-button>
  </ion-toolbar>
</ion-footer>
