<ion-header>
  <ion-toolbar color="start">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="ios">
    <ion-item lines="full" mode="md">
      <ion-icon slot="start" name="person-circle-outline" style="font-size: 80px;"></ion-icon>
      <ion-text>
        <h2 class="ion-text-capitalize">{{nombre}}</h2>
        <ion-text color="medium">
          <h5>Unidad: {{unidad}}</h5>
        </ion-text>
      </ion-text>
    </ion-item>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let i of ajustes" mode="md" (click)="onClick(i)" detail>
      <ion-icon size="large" slot="start" name="{{i.icon}}"></ion-icon>
      <ion-text>
        <h5>{{i.titulo}}</h5>
        <ion-text color="medium">
          <h6>{{i.subtitulo}}</h6>
        </ion-text>
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title color="medium" class="ion-text-center">tax</ion-title>
  </ion-toolbar>
</ion-footer>
