<ion-header>
  <ion-toolbar color="tax">
    <ion-buttons slot="start" routerLink="/inicio">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-avatar class="userImage" (click)="Opciones()"> <img [src]="foto" /> </ion-avatar>
      <ion-card-title class="ion-text-center ion-text-capitalize"><h1>{{nombre}}</h1></ion-card-title>
      <h5>Unidad: {{unidad}}</h5>
    </ion-card-header>
    
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let i of ajustes" (click)="onClick(i)" disabled="{{i.disabled}}" detail>
      <ion-icon size="large" slot="start" name="{{i.icon}}"></ion-icon>
      <ion-label>
        <h2>{{i.titulo}}</h2>
        <p>{{i.subtitulo}}</p>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/tutorial" detail>
      <ion-icon size="large" slot="start" name="help"></ion-icon>
      <ion-label>
        <h2>Tutorial</h2>
        <p>Conoce cómo funciona</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="color-fill"></ion-icon>
      <ion-label>Tema oscuro</ion-label>
      <ion-toggle (ionChange)="changeTheme($event)" slot="end" color="medium" [(ngModel)]="switch"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-label>
      <h3>Tax</h3>
      <p>Acceso anticipado</p>
    </ion-label>
  </ion-toolbar>
</ion-footer>
