<ion-header>
  <ion-toolbar color="start">
    <ion-buttons slot="start" routerLink="/inicio">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-avatar class="userImage"> <img src="assets/avatarlogo.jpg" /> </ion-avatar>
      <ion-card-title class="ion-text-center ion-text-capitalize"><h2>{{nombre}}</h2></ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <h5>Unidad: {{unidad}}</h5>
      <h5>Orizaba, Ver.</h5>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item *ngFor="let i of ajustes" mode="md" (click)="onClick(i)" detail>
      <ion-icon size="large" slot="start" name="{{i.icon}}"></ion-icon>
      <ion-text>
        <h5>{{i.titulo}}</h5>
        <ion-text color="medium">
          <h6>{{i.subtitulo}}</h6>
        </ion-text>
      </ion-text>
    </ion-item>

    <ion-item routerLink="/tutorial" detail>
      <ion-icon size="large" slot="start" name="help"></ion-icon>
      <ion-text>
        <h5>Tutorial</h5>
        <ion-text color="medium">
          <h6>Conoce cómo funciona</h6>
        </ion-text>
      </ion-text>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title color="medium" class="ion-text-center">tax</ion-title>
  </ion-toolbar>
</ion-footer>
