<ion-content>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button disabled="{{disable}}" routerLink="/ajustes">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-capitalize">Hola, {{nombre}}!</ion-title>

    <ion-buttons slot="end">
      <ion-chip mode="ios" color="medium">
        <ion-icon name="car-outline"></ion-icon>
        <ion-label>{{unidad}}</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>

  <ion-text color="medium" class="ion-text-center">
    <h2 style="margin-top: 10%;"><strong>{{mensaje}}</strong></h2>
  </ion-text>

  <div class="boton">
    <ion-button (click)="status()"
                expand="block"
                color="{{color}}"
                fill="outline"
                shape="round" 
                style="width: auto; height: 250px;"
                mode="md">
      <img src="assets/icon/taxi.svg" style="width: 220px; height: 220px;">
    </ion-button>
  </div>

  <ion-text *ngIf="estado === true" class="ion-text-center">
    <h3>Tiempo de recorrido</h3>
    <h1>{{_minutos}} : {{_segundos}} : {{_centesimas}}</h1>
  </ion-text>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-text color="medium">
      <p class="ion-text-center" style="margin-bottom: unset;">Acceso anticipado</p>
    </ion-text>
    <div style="float: left; width: 80%;">
      <ion-button expand="block" shape="round" color="gasto" disabled="{{disable}}" (click)="agregarEgreso()">
        Añadir gasto
      </ion-button>
    </div>
    <div style="float: left; width: 20%;">
      <ion-button expand="block" shape="round" color="data" disabled="{{disable}}" (click)="Registros()">
        <ion-icon name="reorder-four"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

