<ion-header class="ion-no-border">
  <ion-toolbar color="tax">
    <ion-buttons slot="start">
      <ion-button disabled="{{disable}}" routerLink="/ajustes">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  
    <ion-title class="ion-text-capitalize">Hola {{nombre}}</ion-title>
  
    <ion-buttons slot="end">
      <ion-chip>
        <ion-icon name="car-outline" style="color: white;"></ion-icon>
        <ion-label style="color: white;">{{unidad}}</ion-label>
      </ion-chip>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-text color="medium" class="ion-text-center">
    <h2 style="margin-top: 10%;"><strong>{{mensaje}}</strong></h2>
  </ion-text>

  <div class="boton">
    <ion-button (click)="status()"
                expand="block"
                color="{{color}}"
                fill="outline"
                shape="round" 
                style="width: auto; height: 250px;"
                mode="md">
      <img src="assets/icon/taxi.svg" style="width: 220px; height: 220px;">
    </ion-button>
  </div>

  <ion-text *ngIf="estado === true" class="ion-text-center">
    <h3>Tiempo de recorrido</h3>
    <h1>{{_minutos}} : {{_segundos}} : {{_centesimas}}</h1>
  </ion-text>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" disabled="{{disable}}">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button routerLink="/registros" color="primary">
        <ion-icon name="list-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="agregarEgreso()" color="danger">
        <ion-icon name="cash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<!--
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-text color="medium">
      <p class="ion-text-center" style="margin-bottom: unset; margin-top: unset;">Acceso anticipado</p>
    </ion-text>
    <div style="float: left; width: 80%;">
      <ion-button expand="block" shape="round" color="gasto" disabled="{{disable}}" (click)="agregarEgreso()">
        Añadir gasto
      </ion-button>
    </div>
    <div style="float: left; width: 20%;">
      <ion-button expand="block" shape="round" color="warning" disabled="{{disable}}" routerLink="/registros">
        <ion-icon name="reorder-four"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

-->

